.login{
    width              : 100%;
    height             : calc(100vh - 6.3rem);
    background         : url('./assets/add_vendor_backround.jpg');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.login_overlay{
    width      : 100%;
    height     : 100%;
    background : linear-gradient(#282932, #282932cc);
    display    : flex;
    align-items: center;
    justify-content: center;
}
.login_container{
    width: 20rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius   : 15px;
    transition: 1s ease-in-out;
}
.header_label{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: #f8c628;
}
.user_login_form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
      padding: 22px;
}
.user_form_group{
   width: 100%;
   display: flex;
flex-direction: column;
}
#user_login_input{
  width        : 100%;
 display      : block;
 border       : 1px solid #63636361;
 padding      : 9px;
 outline      : none;
 border-radius: 7px;
 margin-top   : 15px;
}
#user_login_input:focus {
  border: 1px solid #ffb400;

}
.user_login_label{
  position: relative;
}
.user_login_label label{
        font-size: 11px;
    color    : gray;
    position : absolute;
    bottom   : 9px;
    left     : 8px;
    transition: .5s ease-in-out;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 15px;
  }

#user_login_input:focus ~ .user_login_label label,
#user_login_input:valid ~ .user_login_label label{
  bottom: 24px;
          font-size: 11px;
} 
.or{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: gray;
}
.google_auth{
width          : 100%;
display        : flex;
justify-content: center;
margin-top     : 20px;
}

.google_auth_btn{
color: #ffffff;
background-color: rgb(0, 153, 255);
padding: 1px;
}
.google_icon{
      background-color: #ffffff;
    width           : 35px;
    padding         : 5px;
    border-radius   : 7px;
    position: absolute;
left    : 35px;
bottom  : 2px;
}
.google_span{
  margin-bottom: 10px;
  position: relative;
}
.login_button{
  width        : 100%;
display      : block;
padding      : 9px;
border-radius: 7px;
margin-top   : 15px;
background: #f8c628;
color: #ffffff;
transition: .5s ease-in-out;
border: none;
outline: none;
}
.login_button:hover{
  background: #f8c628;
  color: #ffffff;
  border: none;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}
.to_sign_up{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: cadetblue;
  padding: 12px;
}
.to_sign_up a{
  text-decoration: none;
      color: #518ef8;
      transition: .5s ease-in-out;
        transform: scale(.9);

}
.to_sign_up a:hover{
  transform: scale(1);
}